<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML
4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title><!-- Title goes here --></title>
    <%= stylesheet_link_tag 'ext-all.css' %>
    <%= javascript_include_tag "prototype", "scriptaculous", "effects","ext-prototype-adapter","ext-all-debug","application" %>


</head>

<body>
	hello
    <%= yield %>
</body>

</html>